@font-face {
    font-family: "Jalnan";
    src: url("./fonts/Jalnan.ttf");
}
@font-face {
    font-family: "GmarketSansTTFLight";
    src: url("./fonts/GmarketSansTTFLight.ttf");
}
@font-face {
    font-family: "GmarketSansTTFMedium";
    src: url("./fonts/GmarketSansTTFMedium.ttf");
}